<% provide(:title, 'Log In') %>
<h1 class="PageTitle">Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">


      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


    <%= form_for(:session, :url => { :action => "login" }) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, :value => 'test@test.com', :readonly => true, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, :value => 'password', :readonly => true, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary loginBtn" %>
    <% end %>
  </div>
</div>
