<h2 class="PageTitle">Video Gallery</h2>
<div class=" videoThumbnailGrid">
  <div class="row">
    <% @video_info.each do |video| %>



        <% if video['subscription_required'] == false%>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-block">
                  <img src='<%= video['thumbnail'] %>' class="img-responsive">
                  <p class="card-text videoTitle"><%= video['title'] %></p>
                  <a href="#" class="btn btn-primary">Watch</a>
                  </ul>
                </div>
              </div>
            </div>
        <% else %>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-block">
                  <img src="http://www.pngall.com/wp-content/uploads/2016/03/Subscribe-PNG-3.png">
                  <p class="card-text videoTitleSubscribe" style="margin-top: 100px"><%= video['title'] %></p>
                  <%= link_to "Log in", login_path, class: 'btn btn-primary subscribeBtn' %>
                  <%= link_to "Subscribe", '', class: 'btn btn-primary subscribeBtn' %>
                  </ul>
                </div>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>
